* {
  box-sizing: border-box;
  padding-left: 0px;
  margin: 0;
  font-family: "Josefin Sans", "Arial Narrow";
}

textarea,body::-webkit-scrollbar {
  width: 11px;
}
textarea,body::-webkit-scrollbar-track {
  background-color:transparent;
}
textarea,body::-webkit-scrollbar-thumb {
  background-color:rgb(32,32,47);
  border-radius: 1px;
  border: 3px transparent transparent;
}
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
  padding-left: px;
  background-attachment: fixed;
}
html, body
 { 
   min-height: 100%; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgb(32,32,47);
  color: orange;
  font-family: 'Dela Gothic One', cursive;
  height: 70px;
  padding-top: 9px;
  padding-left:15px;
  font-size: 40px;
  width:1000px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
 }

.main_note {
  width : 500px;
  padding : 15px 10px 5px 10px;
  margin: 20px auto;
  position: relative;
}

.main{
  padding-left:12px;
  position: relative;
}

form{
  min-height : 50px;
  background-color: #ecf0f1;
  padding : 15px 10px 5px 10px;
  box-shadow : 3px 5px 15px -5px  rgba(0,0,0,1);
  border-bottom: 10px;
  border-radius: 6px;
  position : relative;
}

input {
  width : 100%;
  line-height : 30px;
  background: transparent;
  border: none;
  outline : none;
  font-size: 1.7rem;
  margin : 10px 0; 
  font-weight:bold;
  font-family: 'Josefin Sans', sans-serif;
}

textarea{
  width:100%;
  line-height : 30px;
  background: transparent;
  border: none;
  outline:none;
  font-size:1rem;
  margin : 10px 0;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.MuiIconButton-root .plus_sign{
  font-size:33px !important;
  color:rgb(255, 154, 2);;
  font-weight: 500;
  cursor:pointer;
  z-index:222;
}

.note {
  background:#ecf0f1;
  border-radius: 7px;
  box-shadow: 0px 2px 5px lightgray;
  padding: 10px;
  height: 150px;
  width: 200px;
  margin: 10px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.deleteIcon {
  position: relative;
  float: right;
  margin-right: 10px;
  padding-top:10px;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, alpha);
  border-radius: 50%;
} 

.MuiIconButton-root .deleteIcon{
  color:"danger";
}
html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

